{% extends "layout.html" %}
{% block content %}
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form action="/leerEditorial" method="post">
                <p>{{db}}</p>
              <table class="table">
                <caption>{% for editoriales in constlta %}</caption>
                <thead>
                  <tr>
                    <th>     Editorial    </th>
                    <th>               </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{editoriales.nombre_editorial}}</td>
                    <td><a href="/eliminareditorial/{{editoriales.id_editorial}}">Eliminar</a>
                    <a href="/editareditorial/{{editoriales.id_editorial}}">EDITAR</a>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
