{% extends "layout.html" %}
{% block content %}
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form action="/registrarLibro" method="post" class="box">
              <div class="field">
                <label for="" class="label">Titulo del Libro</label>
                <div class="control has-icons-left">
                  <input type="text" name="titulo_libro" class="input" >
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                </div>
                <div class="field">
                  <label for="" class="label">Fecha de Publicación</label>
                  <div class="control has-icons-left">
                    <input type="date" name="fecha_publicacion" class="input">
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
                </div>
                <div class="field">
                    <label for="" class="label">Numero de Páginas</label>
                    <div class="control has-icons-left">
                    <input type="text" name="numero_paginas" class="input">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                </div>
                <div class="field">
                    <label for="" class="label">Formato</label>
                    <div class="control has-icons-left">
                    <input type="text" name="formato" class="input">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                </div>
                <div class="field">
                    <label for="" class="label">Volumen</label>
                    <div class="control has-icons-left">
                    <input type="text" name="volumen" class="input">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                </div>
                
                <div class="field">
                  <label for="" class="label">Editorial</label>
                    <select name="editorial">
                        {% for editorial in consulta_editorial %}
                            <option value="{{editorial.id_editorial}}">{{editorial.nombre_editorial}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                  <label for="" class="label">Genero</label>
                    <select name="genero">
                        {% for genero in consulta_genero %}
                            <option value="{{genero.id_genero}}">{{genero.nombre_genero}}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="field">
                  <label for="" class="label">Autor</label>
                    <select name="autor">
                        {% for autor in consulta_autor %}
                            <option value="{{autor.id_autor}}">{{autor.nombre_autor}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                  <button class="button is-success">
                    Registrar Libro
                  </button>
                </div>
            </form>
            <form method="get" action="/leerlibro">
              <div class="buttons">
                <button class="button is-info" action="/registrarLibro">Mostrar catalogo de libro</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
