{% extends "layout.html" %}
{% block content %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <figure class="image is-3000x3000">
            <img class="is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Logo_vector.png">
          </figure>

        </div>
      </div>
    </div>
  </div>
</section>

  {% endblock %}